@model EmployeeManagement.Models.Employee

<h2>Add Employee</h2>

<form method="post">

    <label>First Name</label>
    <input asp-for="FirstName" />
    <br /><br />

    <label>Last Name</label>
    <input asp-for="LastName" />
    <br /><br />

    <label>Date Of Birth</label>
    <input asp-for="DOB" type="date" />
    <br /><br />

    <label>Country</label>
    <select asp-for="Country">
    <option value="">Select Country</option>
    <option>India</option>
    <option>USA</option>
    <option>UK</option>
    </select>   
    <br /><br />

    <label>State</label>
    <select asp-for="State">
    <option value="">Select State</option>
    <option>Maharashtra</option>
    <option>Gujarat</option>
    <option>Karnataka</option>
    </select>
    <br /><br />

    <label>City</label>
    <select asp-for="City">
    <option>Mumbai</option>
    <option>Pune</option>
    <option>Nagpur</option>
    </select>
    <br /><br />

    <label>Qualification</label>
    <select asp-for="Qualification">
    <option value="">Select Qualification</option>
    <option>B.Tech</option>
    <option>BCA</option>
    <option>MCA</option>
    <option>M.Tech</option>
    <option>BSc</option>
    </select>
    <br /><br />

    <label>Email</label>
    <input asp-for="Email" />
    <br /><br />

    <label>Phone</label>
    <input asp-for="PhoneNo" />
    <br /><br />

    <button type="submit">
        Save Employee
    </button>

</form>