@model EmployeeManagement.Models.Employee
<div class="container mt-4">
<h2 class="text-center text-warning mb-4">
    Edit Employee
</h2>
<form method="post">

    <input type="hidden" asp-for="EmployeeId" />

    <label>First Name</label>
    <input asp-for="FirstName" class="form-control" />    <br /><br />

    <label>Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <br /><br />
     
    <label>Date Of Birth</label>
    <input asp-for="DOB" type="date" class="form-control" />
    <br /><br />

    <label>Country</label>
    <select asp-for="Country" class="form-control">
    <option value="">Select Country</option>
    <option>India</option>
    <option>USA</option>
    <option>UK</option>
    </select>
    <br /><br />

    <label>State</label>
    <select asp-for="State" class="form-control">
    <option value="">Select State</option>
    <option>Maharashtra</option>
    <option>Gujarat</option>
    <option>Karnataka</option>
    </select>
    <br /><br />

    <label>City</label>
    <select asp-for="City" class="form-control">
    <option>Mumbai</option>
    <option>Pune</option>
    <option>Nagpur</option>
    </select>
    <br /><br />

    <label>Qualification</label>
    <select asp-for="Qualification" class="form-control">
    <option value="">Select Qualification</option>
    <option>B.Tech</option>
    <option>BCA</option>
    <option>MCA</option>
    <option>M.Tech</option>
    <option>BSc</option>
    </select>
    <br /><br />

    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <br /><br />
     

    <label>Phone</label>
    <input asp-for="PhoneNo" class="form-control" />
    <br /><br />

    <button type="submit" class="btn btn-warning">
    Update Employee
</button>
</form>
</div>